@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
*{
    font-family: "Barlow";
}
body{
    background: #eaeaea;
    overflow: hidden;
}
.calc_area{
    height: 40%;
    background: #fafafa;
    border: none;
    min-width: 100%;
    resize: none;
    font-size: 3.6rem;
    padding: 16px;
    text-align: right;
}
.input_area{
    height: 60vh;
    background: #ffffff;
    padding-top: 2vh;
}
.input_row{
    height: 11.5vh;
}
.calc_input{
    width: 24%;
    display: inline-flex;
}
.calc_input button{
    font-size: 3.4vh;
    border-radius: 90px;
    height: 64px;
    width: 64px;
    background: #ffffff;
    padding: 6px;
    transition: 400ms;
    font-weight: 400;
    display: block;
    margin: auto;    
}
.calc_input button:active{
    transition: 100ms;
    box-shadow: 4px 4px 12px #dcdcdc, 
                -4px -4px 12px #dcdcdc;
}

.large_icon{
    height: 100px;
    width: 100px;
}
.app_name{
    font-size: 32px;
}

@media (prefers-color-scheme: dark) {

    body{
        background: #2a2a2a;
    }
    .calc_area{    
        background: #1a1a1a;
        color: #fcfcfc;
    }
    .input_area{
        background: #0e0e0e;
    }
    .input_area button{
        background: #0e0e0e;
        color: #fcfcfc;
    }

}